@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    K22CNT3<br />
    Tran Duy Vu<br />
    <abbr title="Phone">P:</abbr>
    09*******
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:chungtrinhj@gmail.com">chungtrinhj@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:duyvutran2004@gmai.com">duyvutran2004@gmai.com</a>
</address>